* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --textDefaultWhite: #fff;
}


.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('./backgroundimgColors.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.backGroundBlur {
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.623);
    padding: 2em;
    border: 0.1em solid black;
    border-top: none;
    border-radius: 0 0 0.3em 0.3em;
    max-width: 450px;
    box-shadow: inset 0rem 0rem 4rem 0.5rem rgb(0, 0, 0);
}

.main-title {
    padding: 0.6em 0;
    text-transform: uppercase;
    font-size: 1.8em;
    color: var(--textDefaultWhite);
    text-shadow: 0 0 0.3em rgb(0, 0, 0);
}

.textPresentation {
    color: #dbdada;
    text-shadow: 0 0 0.2em rgb(0, 0, 0);
    letter-spacing: 0.05em;
    line-height: 1.6em;
    padding: 1em 0;
}

form {
    color: var(--textDefaultWhite);
    text-shadow: 0 0 0.2em rgb(0, 0, 0);
    backdrop-filter: blur(20%);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-transform: uppercase;
    font-weight: bolder;
}

.textTop {
    display: flex;
    flex-direction: column;
    gap: 1.1em;
    margin-top: 1em;
}

.textTop input {
    background-color: transparent;
    height: 2em;
    color: var(--textDefaultWhite);
    border: none;
    border-bottom: 1px rgb(255, 255, 255) solid;
    outline: none;
}

.textTop input:focus {
    transition: font-size 200ms ease-in-out;
    font-size: 1.2em;
}

.textTop input:focus, input{
    border-bottom: rgb(11, 216, 11) 1px solid;
}

.displayNone {
    display: none;
}